body {
    width: 95%;
    margin: auto; 
    display: flex;
    flex-direction: column;
}

header {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    position: fixed;
    obackground-image: linear-gradient(to bottom, tan, white);
    background-color: white;
    border-bottom: solid 3px green;
    
}

.headerLogo {
    padding: 10px;
    flex-grow: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    letter-spacing: 0.1em;
}

.headerLogo img{
    max-width: 250px;
}

.headerMenu {
    padding: 10px;
    flex-grow: 4;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
}

.headerMenu ul {
    display: flex;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    float: right;
}

.headerMenu li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: x-large;
    display: inline;
    padding: 0px 10px 0px 10px;
    margin: 0px;
    width: 75px;
    border: dotted 1px grey;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
}

.splash {
    width: 100%;
    height: 175px;
    background-color: lightgrey;
    background-image: url(splash.jpg);
    background-repeat: no-repeat;
}

.splash img {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: row;
}

.subContent {
    width: 33%;
    padding: 10px;
}

.subContent h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: large;
    background-image: linear-gradient(to bottom, tan, white);
    border-top: solid 1px tan;
    padding: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.subContent h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    font-size: xx-large;
    font-weight: lighter;
    margin: 0px;
}

.subContent h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: lighter;
    margin-top: 0px;
}

.subContent img {
    width: 99%;
    border: solid 3px darkgrey;
}

.subContent p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subContent p.category {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    padding: 3px;
    margin: 1px;
    margin-bottom: 10px;
    display: inline-block;
    float:right;
}

.subContent p.category.food {
    color: darkred;
    border-bottom: solid 3px darkred;
}

.subContent p.more {
    float: right;
    font-style: italic;
    margin-right: 10px;
}

footer {
    width: 100%;
    display: flex;
    align-content: space-around;
    background-image: linear-gradient(to top, tan, white);
    height: 20px;
    padding: 5px;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .headerLogo img{
        max-width: 100%;
        border: solid 1px lightgrey;
    }

    .container {
        width: 98%;
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .subContent {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {

    .container {
        width: 99%;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .subContent {
        width: 45%;
        padding: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .container {
        width: 99%;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .subContent {
        width: 30%;
        padding: 10px;
    }
}